{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Hi, I'm Brandon—a self-proclaimed 'gringo' who came to Rio de Janeiro for a family visit and instantly fell in love with the city's vibrant culture, stunning landscapes, and infectious energy. What was meant to be a short trip turned into a lifelong adventure. Join me as I share my experiences, discoveries, and the countless wonders that make Rio de Janeiro a city like no other!</p>
</div>
{% endblock %}
